<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Document</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">


  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>
  <body ng-app="starter" ng-controller="MyCtrl">

  
   <ion-top-menu class="menuContent transitionsMenu" id="menuTop" ng-click="clickItemMenu()">


      <ion-scroll style="width:100%; height:100%" id="scrollPanel">
          
         <nav class="menuItem menuItem-a transitionsMenuItem" id="teste1" >
          
            <a>Show/Hide Top Slide Menu</a>
          
        </nav>
       < <nav class="menuItem menuItem-b transitionsMenuItem" id="teste2">
          <a>Show/Hide Top Slide Menu</a>
        </nav>  
         <nav class="menuItem menuItem-c transitionsMenuItem" id="teste3">
          <a>Show/Hide Top Slide Menu</a>
        </nav>
       <nav class="menuItem menuItem-d transitionsMenuItem" id="teste4">
          <a>Show/Hide Top Slide Menu</a>
        </nav>
        <nav class="menuItem menuItem-e transitionsMenuItem" id="teste5">
          <a>Show/Hide Top Slide Menu</a>
        </nav>
      </ion-scroll>
    </ion-top-menu>

    <ion-header-bar class="menuHeader transitionsMenu" id="menuBar" ng-click="toggleTopMenu()">
      <div class="topMenu">
        <h1 class="tituloMenu">MENU</h1>
        <i class="ion-navicon-round iconMenu"></i> 
      </div>
      
    </ion-header-bar>

    <ion-pane class="panel">
      <ion-content>

      <form action=""> 

        <fieldset> 

          <input type="button" value="test2" onclick="test2()" /> 

          <input type="text" id="result2" /> 

        </fieldset> 

      </form> 
        
     </ion-content>
    </ion-pane>

  </body>
</html>