<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Document</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">


  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <!-- your app's js -->
  <script src="js/app.js"></script>
  


</head>
  <body ng-app="starter" ng-controller="MyCtrl">

    <div id="conteudoMenu" ng-click="toggleTest()">
       <nav class="itemMenu"  id="teste1" >
            <a>Teste1</a>
        </nav>

         <nav  class="itemMenu" id="teste2" >
            <a>Teste2</a>
        </nav>

         <nav  class="itemMenu" id="teste3" >
            <a>Teste3</a>
        </nav>
    </div>

    <div id="cabecalhoMenu" class="transitionsMenu" ng-click="toggleTest()">
      <a>MENU</a>
    </div>
   
    
  </body>
</html>