<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Document</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/csshake.css" rel="stylesheet">


  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>
  <body ng-app="starter" ng-controller="MyCtrl">

  <!--Site exemplo alinhamento http://codepen.io/strack/pen/dtsuf-->
   <ion-top-menu class="menuContent transitionsMenu" id="menuTop" ng-click="clickItemMenu()">
      
      <ion-scroll style="width:100%; height:100%;" id="scrollPanel">
        
        <div class="menuItem menuItem-a transitionsMenuItem" id="teste1">

            <div class="menuItemContent">

                <div class="menuItemContentArea menuItemContentArea-a absolute-Center">
                  
                    <nav class="menuItemContentArea-item absolute-Center">
                        <a>TESTE1</a>
                    </nav>

                </div>

            </div> 

        </div>  

          <div class="menuItem menuItem-b  transitionsMenuItem" id="teste2">

            <div class="menuItemContent">

                <div class="menuItemContentArea menuItemContentArea-b absolute-Center">
                  
                    <nav class="menuItemContentArea-item absolute-Center">
                        <a>TESTE2</a>
                    </nav>

                </div>

            </div> 

        </div>  

        <div class="menuItem menuItem-c transitionsMenuItem" id="teste3">

            <div class="menuItemContent">

                <div class="menuItemContentArea menuItemContentArea-c absolute-Center">
                  
                    <nav class="menuItemContentArea-item absolute-Center">
                        <a>TESTE3</a>
                    </nav>

                </div>

            </div> 

        </div>  

        <div class="menuItem menuItem-d  transitionsMenuItem" id="teste4">

            <div class="menuItemContent">

                <div class="menuItemContentArea menuItemContentArea-d absolute-Center">
                  
                    <nav class="menuItemContentArea-item absolute-Center">
                        <a>TESTE4</a>
                    </nav>

                </div>

            </div> 

        </div>  

        <!-- <div class="menuItem menuItem-e transitionsMenuItem" id="teste5">

            <div class="menuItemContent">

                <div class="menuItemContentArea menuItemContentArea-e absolute-Center">
                  
                    <nav class="menuItemContentArea-item absolute-Center">
                        <a>TESTE5</a>
                    </nav>

                </div>

            </div> 

        </div>   -->

        <div class="menuItem menuItem-f  transitionsMenuItem" id="teste6">

            <div class="menuItemContent">

                <div class="menuItemContentArea menuItemContentArea-f absolute-Center">
                  
                    <nav class="menuItemContentArea-item absolute-Center">
                        <a>TESTE6</a>
                    </nav>

                </div>

            </div> 

        </div>  

      </ion-scroll>

    </ion-top-menu>

    <ion-header-bar class="menuHeader transitionsMenu" id="menuBar" ng-click="toggleTopMenu()">

      <div class="menuHeaderContent">

        <h1 class="menuHeaderTitle">MENU</h1>

          <i class="ion-navicon-round iconMenu"></i> 

      </div>
      
    </ion-header-bar>

    <ion-pane class="panel">

      <ion-content>
         

     </ion-content>

    </ion-pane>
  </body>
</html>