/* Empty. Add your own CSS if you like */
.menuContent {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #333;
  color: white;
  z-index: 1000;
  top:-100%;

}

.menuHeaderContent{
  background-color: #333;
  position:absolute;
  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 0;

  width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;

  text-align: center;
  vertical-align: middle;


  /*overflow: hidden;*/
}

.menuHeaderTitle{
  color: white;
  display: inline;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 0;

  font-size: 20px;

  font-weight: 900;

  line-height: 44px;
}

.iconMenu{
  color: white;
  display: inline;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 0;

  font-size: 20px;
  
  font-weight: 500;

  line-height: 44px;

}

.menuItem{
  position: absolute;
  text-align: center;
  vertical-align: bottom;

  border: none;
  
  width: 100%;
  cursor: pointer;
  font-size: 17px;

  top: -2000px;

}

.menuItem-a{
	background: purple;
}
.menuItem-b{
	background: blue;
}
.menuItem-c{
	background: yellow;
}
.menuItem-d{
	background: green;
}
.menuItem-e{
	background: gray;
}
.menuItem-f{
  background: #333;
}

.absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.menuItemContent{
    position: absolute;
    bottom: 0px;
    width: 100%; 
}

.menuItemContentArea{
     position: relative;
    display: table;
    vertical-align: middle;
    width: 100%;
    /*border-style: solid;
    border-width: 10px;*/
}

.menuItemContentArea-a{
  background: purple;
}
.menuItemContentArea-b{
  background: blue;
}
.menuItemContentArea-c{
  background: yellow;
}
.menuItemContentArea-d{
  background: green;
}
.menuItemContentArea-e{
  background: gray;
}
.menuItemContentArea-f{
  background: #333;
}


    

.menuItemContentArea-item{
    vertical-align: middle;
    text-align:center;
    width:100%;
    display:table;
    color: white;
    background: black;
    
}

.menuItemContent{
  vertical-align: middle;
}

.menuItemContent:hover {
  background: black;
}

.menuItemContent.active {
  background: #0d77b6;
}

.menuItemContent.disabled {
  background: #aaa;
  pointer-events: none;
}

.panel {
  height: 100%;
  width: 100%;
  background-color: yellow;
  }

.transitionsMenuItem{
     transition: all 0.3s; 
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;*

    /*transition: all 1.3s; 
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 1.3s ease;**/
}

.transitionsMenu{
   /*transition: all 0.5s; 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;**/

 transition: all 0.5s; 
  -webkit-transition: all 0.5s cubic-bezier(1,.18,.4,.81);
  -moz-transition: all 0.5s cubic-bezier(1,.18,.4,.81);*

}

/*.transitionsMenuOut{
   transition: all .8s; 
  -webkit-transition: all .8s cubic-bezier(1,.18,.4,.81);
  -moz-transition: all .8s cubic-bezier(1,.18,.4,.81);*
}*/




