/* Empty. Add your own CSS if you like */
.menuContent {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #333;
  color: white;
  z-index: 999;
  top:-100%;

}

.menuContent2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #333;
  color: white;
  z-index: 999;

}

.menuContent .contentMenu {
  position: relative;
  background: none;
  border-color: #222;
  color: white; 
  height: 300px;
  width: 100%;
  background-color: red;
}

.menuHeader{
  top:0px;
}

.topMenu{
  background-color: #333;
  position:absolute;
  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 0;

  width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;

  text-align: center;
  vertical-align: middle;


  /*overflow: hidden;*/
}

.tituloMenu{
  color: white;
  display: inline;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 0;

  font-size: 20px;

  font-weight: 500;

  line-height: 44px;
}

.iconMenu{
  color: white;
  display: inline;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 0;

  font-size: 20px;
  
  font-weight: 500;

  line-height: 44px;

}

.contentMenu{
  background-color: blue;
}

.panel {
  height: 100%;
  width: 100%;
  background-color: yellow;
  }


.menuItem{
  position: absolute;
  display: table;

  text-align: center;
  vertical-align: middle;
  border: none;
  
  color: #fff;

  width: 100%;
  cursor: pointer;
  font-size: 17px;

  background: #47a3da;



}

/*.menuItem *{
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  width: 200px;
  height: 100%;
  border: 3px solid #8AC007;
}*/


.menuItem-a{
  height: 50%;
 
	background: red;
}
.menuItem-b{
	background: blue;
}
.menuItem-c{
	background: yellow;
}
.menuItem-d{
	background: green;
}
.menuItem-e{
	background: pink;
}

.menuItem:hover {
  background: black;
}

.menuItem.active {
  background: #0d77b6;
}

.menuItem.disabled {
  background: #aaa;
  pointer-events: none;
}

.transitionsMenu{
    transition: all .7s; 
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;*

  /*-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/

}

.transitionsMenuItem{
  /*transition: width 0.5s;
  transition-timing-function: linear;*/
   transition: all .9s; 
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;*
}

.transitionsMenuItemBounce{
  /*transition: width 0.5s;
  transition-timing-function: linear;*/
   transition: all .9s; 
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;*
}


  .relDiv {
        position: relative;
        width: 400px;
        height: 200px;
        border: 3px solid #8AC007;
         transition: all .9s; 
        -webkit-transition: all .9s ease;
        -moz-transition: all .9s ease;*
    }

    .absDiv {
        position: absolute;
        bottom: 200px;
        width: 200px;
        height: 100px;
        border: 3px solid #8AC007;
        transition: all .9s; 
        -webkit-transition: all .9s ease;
        -moz-transition: all .9s ease;*
    } 



/*teste novo menu-----------------------------*/

#conteudoMenu{
  position: absolute;
  background: blue;
  height: 100%;
  top:-100%;
}

#cabecalhoMenu{
  position: absolute;
  background: black;
  color:white;
  text-align: center;
  height: 50px;
  font-size: 30px;
  top:0px;
}

.itemMenu{
  position: absolute;
  background: red;
  color:white;
  text-align: center;
  font-size: 20px;
}

